/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

/*
#5680E9
#84CEEB
#5AB9EA
#C1C8E4
#8860D0
*/

body {
  display: flex;
}

article {
  background-color: #c1c8e4;
  width: 100%;
  margin-left: 300px;
}

.nav-bar {
  width: 300px;
  height: 100%;
  position: fixed;
  background-color: #8860d0;
  display: flex;
  align-items: center;
  /* opacity: 0.3; */
}

.nav {
  /* height: 60%; */
  width: 95%;
  height: 350px;
}

.nav ul {
  height: 100%;
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav li {
  border-bottom: solid 4px #5680e9;
  text-align: right;
  padding: 20px 0;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}

#Welcome {
  height: 400px;
  width: 100%;
  background-color: green;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  /* change later */
}

/* Welcome Section */
#Welcome h1 {
  font-size: 60px;
  color: white;
  font-weight: 10;

  /* background-image: url("https://pbs.twimg.com/profile_images/949787136030539782/LnRrYf6e.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; */
}

/* Mission Section  */
#mission {
  width: 100%;
  background-color: yellow;
  /* change later */
}

.mission-section {
  display: flex;
  height: 300px;
}
.mission-div {
  display: flex;
  align-items: center;
}

.mission-section:nth-child(even) {
  flex-direction: row-reverse;
}
.mission-img {
  width: 500px;
  height: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* About Section  */
#About {
  height: 400px;
  width: 100%;
  background-color: red;
  /* change later */
}

/* Footer Section  */
footer {
}

#Contact {
}

article h2 {
  font-size: 50px;
}
article p {
  font-size: 20px;
}

/*Michael Agard's footer CSS goes here*/

@media (max-width: 500px) {
  .nav-bar {
    width: 100%;
    height: 300px;
    padding-top: 0;
  }
  .nav {
    height: 100%;
  }
  .nav li {
    text-align: center;
  }

  article {
    margin-top: 300px;
    margin-left: 0;
  }
}
